{% extends 'EDApp/commonpage.html' %}
{% block parentblock %}
{% load static %}
{% load crispy_forms_tags %}

<style media="screen">
  .row {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 50px;
  }
</style>

<div class="row">
  <div class="col-md-6 col-xl-12">
      <div class="card" style="text-align:center">
        <div class="content" style="text-align:center;margin-top:15px;">
          <div >
  <form method="post">
    {% csrf_token %}
    <h1>Mark Attendance As A Whole Class</h1>
      <div style="margin:auto" class="card card-body col-lg-4">
      {% if classes %}
        <select class="dropdown" name="dropdownlist" id="classes">
          <option value="">----SELECT CLASS----</option>
            {% for class in classes %}
              <option value="/{{class.id}}">{{class.name|upper}}</option>
            {% endfor %}
      {% endif %}
    </select>
  </div>
    <br><br>
    <input type="submit" name="search" value="Search" class='btn btn-danger'>
  </form>
</div>


{% endblock %}
