{% extends 'EDApp/commonpage.html' %}
{% block parentblock %}
{% load static %}
<head>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<style media="screen">


  .row {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 50px;
  }
  .row1 {
    margin-left: 460px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 170px;
  }
</style>
<body>
<hr>
<div class="container">
<div class="row">

{% if classes_list %}
{% for class in classes_list %}
<div class="col-md-6 col-xl-4">
    <div class="card mb-3 text3 bg-arielle-smile">
        <div class="widget-content-wrapper text-black">
            <div class="widget-content-center" style="text-align:center">
                <img src="{% static 'images/table.png' %}" style="width:50px;height:50px;">
                <div>{{class.name_of_class}}</div>
                <div><button class="btn btn-warning">Total Students: {{class.total_students}}</div>
                <button class="btn btn-success"><a href="/update/{{class.id}}" style="color:#111111"><i class="fas fa-pen"></i> Update</a> <a href="/delete/{{class.id}}" style="color:#111111"><button class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>


            </div>
        </div>
    </div>
</div>

{% endfor %}
{% else %}
No Data Found
{% endif %}

</div>
</div>
<hr>
<div class="container">
<div class="row1">
<a href="/newclass" style="background:none; text-align:center"><button class="btn btn-warning btn-lg" style="border-radius:50%;width:120px;height:120px;"><i class="fas fa-plus"  style="color:#333;"></i>
  <hr style="margin:2px;">Add New Class</button>
<!-- WARNING: <a href="/update/{{Classes.id}}" style="background:none; text-align:center"><button class="btn btn-warning btn-lg" style="border-radius:50%;width:120px;height:120px;"><i class="fas fa-pen"  style="color:#333;"></i>
  <hr style="margin:2px;">Update Class</button>
<a href="/delete/{{Classes.id}}" style="background:none; text-align:center"><button class="btn btn-warning btn-lg" style="border-radius:50%;width:120px;height:120px;"><i class="fas fa-trash"  style="color:#333;"></i>
  <hr style="margin:2px;">Delete Class</button> -->
</div>
</div>
</body>

{% endblock %}
