{% extends 'EDApp/commonpage.html' %}
{% block parentblock %}
{% load static %}
{% load crispy_forms_tags %}

<style media="screen">
  .row {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 50px;
  }
</style>

<br>

<div class="row">
  <div class="col-md-6 col-xl-12">
      <div class="card" style="text-align:center">
        <div class="content" style="text-align:center;margin-top:15px;">
          <h1 align=center>Please Mark Attendence for Employee</h1> <br>

<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>         <th>Name</th>             <th>Father Name</th>      <th>Employee Type</th>   <th>Status</th>
      </tr>
    </thead>
{% if allemp %}
  {% for emp in allemp %}

  <form class="" action="" method="post" style="margin:auto">
    {% csrf_token %}
  <tr>

    <td name="empid" id="emplid">{{emp.id}}</td>
    <input type="hidden" name="empid" value="{{emp.id}}">

    <td name="empname" id="empname">{{emp.name_of_employee}}</td>
    <input type="hidden" name="empname" value="{{emp.emp_name}}">

    <td name="empfathername" id="empfathername">{{emp.father_name}}</td>
    <input type="hidden" name="empname" value="{{emp.emp_name}}">

    <td name="emptype" id="emptype">{{emp.Employee_type}}</td>
    <input type="hidden" name="emptype" value="{{emp.emp_type}}">

    <td>
        <input type="radio" name="x" id="present{{emp.id}}" value="P">
        <label for="present{{emp.id}}">P</label>
        <input type="radio" name="x" id="absent{{emp.id}}" value="A">
        <label for="absent{{emp.id}}">A</label>
        <input type="radio" name="x" id="leave{{emp.id}}" value="L">
        <label for="leave{{emp.id}}">L</label>
    </td>


    <td>
      <input type="submit" name="submit" value="Submit" class="btn btn-danger">
    </td>
</tr>
</form>
  {% endfor %}
{% endif %}


</table>
</div>
</div>
</div>
</div>


{% endblock %}
