{% extends 'EDApp/commonpage.html' %}
{% block parentblock %}
{% load static %}
<title>EdSystango - Education ERP Training Center</title>
<body>

  <header class="hero--header"> <br> <br> <br> <br>
    <div class="container">
      <div class="row">
        <div class="coloum">
          <img class="img" src="{% static 'images/school-management_photo.jpg' %}" alt="" height="400" width="580">
        </div>

        <div class="coloum">
          <br><span class="text1"> FREE ONLINE SCHOOL <br> MANAGEMENT SOFTWARE</span> <br>
          <span class="text2"> Now you can manage your school, college <br>or any educational center with EdSystango.<br> It's 100% free for lifetime with no limitations.</span>
          <br> <span class="bttn"><button type="button" class="btn btn-danger"><a class="text-white" href="/signup"> SIGN UP NOW, IT'S FREE</span>
        </div>
      </div>


  </div>
  </header>

  </body>
{% endblock %}
