{% extends 'EDApp/commonpage.html' %}
{% block parentblock %}
{% load static %}

<head>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<style media="screen">
  .row {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 50px;
  }
</style>
<body>
<hr>
<div class="container">

<div class="row">
  <div class="col-md-8 col-xl-12">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-center" style="text-align:center">
          <img src="{% static 'images/logo.png' %}" style="width:100px; height:auto;">
					<h1 style="margin-bottom:0px;">Edsystango</h1>
					<h5 style="margin:0px;">Your First Step for Successful Career </h5>
					<i class="fas fa-phone" > +91-8819999807</i> | <i class="fas fa-envelope" > anshuman@systango.com</i> | <i class="fas fa-globe" > https://www.edsystango.com/</i>
					<hr>
					<i class="fas fa-road"> Scheme No. 94, Ring Road, Pipliyahana Square (Service Road), Goyal Nagar, Indore (M.P.) - 452016</i><br>

					<i class="fas fa-flag"> India</i><br>

					<hr>
					<button class="btn btn-primary" id="change"><i class="fas fa-pen"></i> Change </button>
          <hr>
          <button class="btn btn-danger" id="rr"><i class="fas fa-edit"></i> Rules & Regulations</button> | <button class="btn btn-success" id="fp"><i class="fas fa-edit"></i> Fees Particulars</button>

        </div>
      </div>
    </div>
  </div>
</div>


</body>
{% endblock %}
