{% extends 'EDApp/commonpage.html' %}
{% block parentblock %}
{% load static %}
{% load crispy_forms_tags %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script>
$(document).ready(function(){

  $(document).on('submit', '#form', function(e){
            e.preventDefault();

            $.ajax({
              url:'/studentattendance/{{allclass.id}}/',
              type:'POST',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              data:{
                  studentname:$('#studentname').val(),
                  studentid:$('#studentid').val(),
                  class:$('#class').val(),
                  x:$("input:radio[name=x]:checked").val(),
                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                  },
              success:function(){
                      alert("Attendance saved!");
                }
  });
});


</script>

<style media="screen">
  .row {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 50px;
  }
</style>

<br>

<div class="row">
  <div class="col-md-6 col-xl-12">
      <div class="card style="text-align:center"">
        <div class="content" style="text-align:center;margin-top:15px;">
          <h1 align=center>Please Mark Attendence For "{{allclass|upper}}" Class</h1> <br>

          <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>   <th>Name</th>   <th>Course</th>   <th>Attendance</th>   <th>Mark/Update</th>
      </tr>
    </thead>
{% if allclass %}
  {% for student in allclass.students_set.all %}
  <form id="form" method="post">
    {% csrf_token %}
  <tr>

    <td name="studentid" id="studentid">{{student.id}}</td>
    <input type="hidden" name="studentid" value="{{student.id}}">



    <td name="studentname" id="studentname">{{student.name_of_student}}</td>
    <input type="hidden" name="studentname" value="{{student.name_of_student}}">

    <td name="class" id="class">{{allclass}}</td>
    <input type="hidden" name="class" value="{{allclass}}">


    <td>
        <input type="radio" name="x" id="present{{student.id}}" value="P">
        <label for="present{{student.id}}">P</label>
        <input type="radio" name="x" id="absent{{student.id}}" value="A">
        <label for="absent{{student.id}}">A</label>
        <input type="radio" name="x" id="leave{{student.id}}" value="L">
        <label for="leave{{student.id}}">L</label>
    </td>



  <td>
     <input type="submit" id="submit" class="btn btn-danger" name="submit" value="submit">
   </td>
</form>
  {% endfor %}

{% endif %}

</table>
</div>
</div>
</div>
</div>



{% endblock %}
